{% load static %}
<!-- header -->
<header class="header">
  <div class="container-fluid">

    <div class="row">
      <!-- left -->
      <div class="col-7 left">

        <a href="" class="a-logo">
          <h1>STUDENT REGISTRATION</h1>
        </a>

        <!-- sidebar-toggle -->
        <a data-toggle="body" class="sidebar-toggle">
          <span></span>
          <span></span>
          <span></span>
        </a>
        <div class="swipe-area-btn"></div>
      </div>

    </div>
  </div>
</header>
<!-- /header -->

<!-- side-menu -->
<aside id="sidebar">

  <!-- sidebar-toggle -->
  <a data-toggle="body" class="sidebar-toggle"></a>

  <ul class="sidebar-menu">
    <li>
      <a href="/">  
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
        <span>Registration Form</span>
      </a>
    </li>
    <li>
      <a href="/registered_students/">  
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
        <span>View Students</span>
      </a>
    </li>
  </ul>
</aside>
<!-- /side-menu -->


<div class="container-fluid main-body">
